:root {
    --primary: #673de6;
    --primary-light: #ebe4ff;
    --primary-dark: #5025d1;
    --meteorite-dark: #2f1c6a;
    --dark: #1d1e20;
    --danger: #fc5185;
    --danger-dark: #d63163;
    --success: #2ae396;
    --success-dark: #008361;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    background-color: var(--primary);
    margin: 0;
}

/* Default setting */
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-inline: 4rem;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: var(--primary);
    font-weight: bold;
    font-size: 30px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav-link {
    color: var(--primary);
    font-weight: bold;
    font-size: 18px;
}

.nav-actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-login,
.nav-close,
.nav-toggle {
    font-size: 1.25rem;
    color: #4B4453;
    cursor: pointer;
}

:is(.nav-logo, .nav-login, .nav-toggle, .nav-link):hover {
    color: var(--primary-dark);
}

/* Nav for mobile */
@media screen and (max-width:1023px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
        width: 100%;
        padding-block: 4.5rem 4rem;
        transition: top .4s;
    }

    .container {
        margin: 0.3rem 1.15rem;
    }
}

.nav-close {
    position: absolute;
    top: 1.15rem;
    right: 1.15rem;
}

/* Show menu */
.show-menu {
    top: 0;
}

/*===================== BREAKPOINTS ===================== */
/* For Large devices */
@media screen and (min-width:1023px) {
    .nav {
        height: 5.5rem;
        column-gap: 3rem;
    }

    .nav-close,
    .nav-toggle {
        display: none;
    }

    .nav-menu {
        margin-left: auto;
    }

    .nav-list {
        flex-direction: row;
        column-gap: 3rem;
    }
}

main {
    text-align: center;
    background-color: var(--primary);
    color: white;
}

main h1 {

    font-size: 3.5rem;
    padding-top: 4rem;

}

.subtitle {
    font-size: 1.25rem;
}

.steps-container {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.step {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.number {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-content {
    height: 70%;
    font-size: 18px;
    text-align: center;
}

.step-content span {
    color: --;
    font-weight: bold;
}

.number i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
}

.advice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.advice i {
    color: var(--success);
}

.advice p {
    color: var(--success);
    font-weight: bold;
    font-size: 20px;
}

.btn-create {
    margin-top: 3rem;
    padding: 20px 80px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--danger);
    color: white;
    font-weight: bold;
}

.btn-create:hover {
    background-color: var(--danger-dark);
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: .5rem;
    width: 80%;
    height: 75%;
    text-align: center;
    padding: 2rem;
}

dialog h1 {
    font-size: 40px;
}

dialog .close {
    border: none;
    outline: none;
    background-color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

dialog .close i {
    font-size: 24px;
}

dialog .close i:hover {
    cursor: pointer;
    color: #ccc;
}

.container-section {
    display: flex;

}

.section {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 100%;
    justify-content: center;
}


.section input {
    border: none;
    outline: none;
    font-size: 18px;
    color: black;
}

.group-name {
    padding: 10px;
    display: flex;
    width: 40%;
    border-bottom: 1px solid black;

}

::placeholder {
    color: black;
    opacity: 1;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    font-size: 18px;
}

textarea {
    padding: 10px;
    resize: none;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    width: 80%;
    height: 10rem;
}

.coin {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.coin-select {
    width: 80%;
    padding: 1rem;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category p {
    font-size: 20px;
}


.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    display: flex;
}

.participants {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    font-size: 20px;
}

.participants-quantity {
    display: flex;
    gap: 10px;
}

.add-participants {
    display: flex;
    gap: 20px;
}

.input-div {
    width: 70%;
    display: flex;
    border-bottom: 1px solid silver;
}

.add-participants button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--danger);
    color: white;
    font-weight: bold;
}

.add-participants button:hover {
    cursor: pointer;
    background-color: var(--danger-dark);
}

.button-create-group {
    display: flex;
    justify-content: center;
}

.button-create-group button {
    margin-top: 2rem;
    padding: 20px 100px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--danger);
    color: white;
    font-weight: bold;
    width: 90%;
}

.button-create-group button:hover {
    cursor: pointer;
    background-color: var(--danger-dark);
}

/* ========================================== Modal ========================================== */

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
   
}

/* Estilos do conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* Adjust the percentage as needed */
    border: 1px solid #888;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 35em;
    padding: 2em;
    position: relative;
    border-radius: 10px;
}

/* Estilos para o botão de fechar */
.close-modal {
    color: #aaa;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
   
    /* Garante que o botão esteja acima do conteúdo do modal */
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Estilos dos inputs */
.input-dentro {
    flex: 0 0 30%;
    /* Define a largura dos inputs para 30% do espaço disponível */
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-dentro span{
    font-size: 14px;
    color: #909090;
}

#datePicker {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.botao-criar {
    display: flex;
    justify-content: center;
}

.criar {
    background-color: var(--primary);
    /* Cor de fundo do botão */
    color: white;
    font-weight: bold;
    /* Cor do texto */
    padding: 15px 20px;
    /* Espaçamento interno do botão */
    border: none;
    /* Remove a borda */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 60%;
    margin-top:1rem;
}

.criar:hover{
    cursor: pointer;
    background-color: var(--primary-dark);
}


.input-dentro:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-types{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    
}

.container-types button{
    padding:10px;
    margin: 5px 0 15px 0;
    border: 2px solid var(--primary);
    background-color: white;
    font-weight: bold;
    border-radius: 4px;
    box-sizing: border-box;
}

.container-types button:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: white;
}

.add-persons input{
    width: 75%;
}

.add-persons{
    display: flex;
    flex-direction: col;
    align-items: center;
    justify-content:space-between;
}

.add-persons button{
    width: 20%;
    padding: 10px;
    margin: 5px 0 15px 0;
    background-color: var(--success);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-persons button:hover{
    cursor: pointer;
    background-color: var(--success-dark);
}

.input-dentro:nth-child(5){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-dentro:nth-child(6){
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.preference-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userItem {
    border-bottom: 1px solid silver;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userItem button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.userItem button:hover{
    background-color: #af2c1e;
    
}
